<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>ops管理后台</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
                            <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5">
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="时间" id="时间"  placeholder="请输入日期" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>

                        </div>
                        <div class="layui-card-body layui-table-body layui-table-main">
                           <table class="layui-hide" id="test" lay-filter="complainList" ></table>
                        </div>



    <script>
        function cost_api() {
        var data = '{}'
                $.ajax({
                    type: "GET",
                    url: "/cost_api/",
                    data: data,   //序列化
                    dataType: 'json',
                    success: function(data){
                   console.log("success");
                   console.log(data);
                   var str = "";
                   for(var a = 0; a<data.length;a++){
                      console.log(data[a].name);
                      //str+='<br><h2>'data[a].name + data[a].count + data[a].value + data[a].time '</h2><br/>';
                 }
                 console.log(str);
                $("#loginForm").html(str);
                }
                })
}

layui.use('table', function(){

  var table = layui.table;
  treeGrid = layui.treeGrid;
  table.render({
    elem: '#test',
    url:'/cost_api/',
       page: true ,
        limit:30,
      limits:[5,15,20],
    cols: [[
            {checkbox:true},
            {field: '时间', title: '时间' ,sort:true},
            {field: 'value',  title: '月度总费用'},
            {field: '天数',  title: '天数'},
    ]],
  })
  })




</script>


    </body>
</html>